/* theme color */
$--color-primary: #409EFF;
$--border-color-base: #d8dce5;


/* override */
$--font-size-base: 14px;
$--size-base: 14px;


$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) ;

/* safe font*/
$font-family: "Helvetica Neue",
"Helvetica",
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"Arial",
"sans-serif";
